target/
.polyglot.pom.groovy
pom.xml.*
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
sonar-dev.properties
.idea/
.idea/**
*.iml
